# TITANIC SURVIVAL PREDICTION

### importing required libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

### read the file

In [2]:
data=pd.read_excel('titanic_dataset.xlsx')

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

###  Preprocessing the data

In [4]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
data.shape

(891, 12)

In [6]:
data.dropna(subset=['Pclass','Age','Sex','Cabin'],inplace=True)

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [8]:
data['Sex']=data['Sex'].map({'female':0,'male':1})

In [9]:
a=data[['Pclass', 'Sex', 'Age']]
b=data['Survived']

### dividing the dataset into training and testing sets

In [10]:
X_train, X_test, y_train, y_test = train_test_split(a,b, test_size=0.2, random_state=42)

### Create a Decision Tree Classifier model

In [11]:
model = DecisionTreeClassifier()

### Fit the model on the training data

In [12]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

### Make predictions on the testing data

In [13]:
predictions = model.predict(X_test)

### Calculate the accuracy of the model

In [14]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy:", accuracy)

Accuracy: 0.7837837837837838

### testing the model

In [15]:
import pandas as pd

### Sample data for testing

In [16]:
sample_data = {
    "Pclass": [3],
    "Sex": [1],  # 1 represents male
    "Age": [25]
}

### Convert sample data to DataFrame

In [17]:
sample_df = pd.DataFrame(sample_data)

### Make predictions

In [18]:
predicted_survival = model.predict(sample_df)

###  Print predictions

In [19]:
print("Predicted Survival:", predicted_survival)

Predicted Survival: [0]